<section class="hero">
    <div class="hero__container">
      <div class="hero__content">
        <h1 class="hero__title">
          Самая вкусная пицца в мире <br />
          только в <span class="hero__title-accent">Pizza Cheff</span>
        </h1>
  
        <div class="hero__features">
          <div class="hero__feature">
            <img src="/images/icons/dough.svg" alt="Лучшее тесто" class="hero__feature-icon" />
            <div>
              <h3 class="hero__feature-title">Лучшее тесто</h3>
              <p class="hero__feature-text">Мы создаем тесто только из отборной итальянской муки наивысшего качества</p>
            </div>
          </div>
  
          <div class="hero__feature">
            <img src="/images/icons/chef.svg" alt="Лучшие повара" class="hero__feature-icon" />
            <div>
              <h3 class="hero__feature-title">Лучшие повара</h3>
              <p class="hero__feature-text">Пиццы готовят самые профессиональные итальянские повара</p>
            </div>
          </div>
  
          <div class="hero__feature">
            <img src="/images/icons/quality.svg" alt="Гарантия качества" class="hero__feature-icon" />
            <div>
              <h3 class="hero__feature-title">Гарантия качества</h3>
              <p class="hero__feature-text">Наша пиццерия получила множество наград и признаний по всему миру</p>
            </div>
          </div>
  
          <div class="hero__feature">
            <img src="/images/icons/recipe.svg" alt="Отборные рецепты" class="hero__feature-icon" />
            <div>
              <h3 class="hero__feature-title">Отборные рецепты</h3>
              <p class="hero__feature-text">Мы используем рецепты от мировых лидеров в изготовлении пиццы</p>
            </div>
          </div>
        </div>
  
        <button class="hero__btn">Выбрать пиццу</button>
      </div>
  
      <div class="hero__image">
        <img src="/images/main/pizza_big.png" alt="Pizza" />
      </div>
    </div>
  </section>
  