<section class="hero">
    <div class="hero__container">

      <div class="hero__content">
        <h1 class="hero__title">
          Самая вкусная пицца в мире <br />
          <span class="hero__title-accent">только в Pizza Cheff</span>
        </h1>
  
        <div class="hero__features">
          <div class="hero__feature" *ngFor="let feature of features">
            <img [src]="feature.icon" [alt]="feature.alt" class="hero__feature-icon" />
            <div>
              <h3 class="hero__feature-title">{{ feature.title }}</h3>
              <p class="hero__feature-text">{{ feature.text }}</p>
            </div>
          </div>
        </div>
  
        <button class="hero__btn">Выбрать пиццу</button>
      </div>
  
      <div class="hero__image">
        <img src="/images/main/pizza_big.png" alt="Pizza" />
      </div>

    </div>
</section>
  