<section class="menu">
    <div class="menu__container">
        <div class="menu__content">
            <h2>Выберите свою любимую пиццу</h2>
            <div class="pizza__grid">
                <div class="pizza__card" *ngFor="let pizza of pizzas">
                    <img [src]="pizza.image" [alt]="pizza.name" (click)="openLightbox(pizza)" />
                    <div class="pizza__text">
                      <h3 class="pizza__card__title">{{ pizza.name }}</h3>
                      <p class="pizza__card__desc">{{ pizza.description }}</p>
                    </div>
                    <button class="cart__btn">В корзину</button>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="lightbox" *ngIf="selectedPizza" (click)="closeLightbox()">
    <img [src]="selectedPizza.image" [alt]="selectedPizza.name" />
</div>