h2{
  font-size: 35px;
  line-height: 55px;
  color: #bd985c;
  font-weight: bold;
  font-family: "Muller Bold", sans-serif;
  text-align: center;
}

.menu {
  padding: 10px 0;
  background: var(--color-bg);
}

.menu__container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.menu__content {
  flex: 1;
}

.pizza__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-items: stretch;
}

.pizza__card {
  background: #fff;
  padding: 10px;
  text-align: center;
  filter: drop-shadow(0px 3px 7.5px rgba(152,152,152,0.2));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pizza__text {
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}  

.pizza__card__title{
  font-size: 18px;
  line-height: 55px;
  color: var(--header-text);
  font-weight: bold;
  font-family: "Muller Bold", sans-serif;
  margin: 0;
}

.pizza__card__desc{
  font-size: 14px;
  line-height: 18px;
  color: #181a1a;
  font-family: "Muller Regular", sans-serif;
  margin: 0;
  margin-bottom: 5px;
}

.pizza__card img {
  cursor: pointer;
  transition: transform 0.2s;
  object-fit: cover
}

.pizza__card img:hover {
  transform: scale(1.05);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.lightbox img {
  width:40%;
}
