:root {
    --color-primary: #ffc468;  
    --color-secondary: #a46b00; 
    --color-text: #b99150;
    --color-accent-text: #ffaf18;;
    --header-text: #382400;
    --placeholder-text:#cba86e;

    --color-accent: #e76f51;    
    --color-bg: #fff;
    --color-border: #eee;

    --color-secondary-hover: #e4e0e0;

    --container-width: 1200px;
    --container-padding: 20px;
}

@font-face {
    font-family: 'Muller Black';
    src: url('/fonts/Muller_Black/muller-black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller Extra Bold';
    src: url('/fonts/Muller_Extra_Bold/muller-extrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller Regular';
    src: url('/fonts/Muller_Regular/muller-regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

body{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}


input {
    width: 330px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid var(--color-text);
    font-size: 18px;
    line-height: 45px;
    color: var(--placeholder-text);
    font-family: "Muller Regular", sans-serif;
    outline: none;
}

input::placeholder {
  color: var(--placeholder-text); 
  opacity: 1;    
  font-family: "Muller Regular", sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

button:disabled {
  background: #ececec;
  cursor: not-allowed;
  pointer-events: none;
}

.cart__btn {
  background-color: var(--color-accent-text);
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 55px;
  color: #020303;
  font-weight: bold;
  font-family: "Muller Bold", sans-serif;
  width: 90%;
  transition: all 0.3s ease-in;
}

.cart__btn:hover,
.cart__btn:active {
    background: var(--color-accent);
    color: white;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.lightbox img {
  width:40%;
}

.popup__content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  padding: 25px;
}

.popup__text{
  font-size: 18px;
  line-height: 55px;
  color: var(--header-text);
  font-weight: bold;
  font-family: "Muller Bold", sans-serif;
}